# Trying

In [159]:
import pandas as pd
df = pd.read_csv("../data/01_single.csv", low_memory=False)
# df.iloc[0].five_p_cleav_1[0]
# Some problem in reading the data.
# https://stackoverflow.com/questions/79413934/write-read-columns-of-list-of-numbers-integer-or-float-to-from-csv-in-python
# https://stackoverflow.com/questions/23111990/pandas-dataframe-stored-list-as-string-how-to-convert-back-to-list/63020659#63020659
from ast import literal_eval
df = df.map(literal_eval)

In [160]:
df.head()

,five_p_cleav_1,five_p_cleav_compl_1,five_p_non_cleav_1,five_p_non_cleav_compl_1,three_p_cleav_1,three_p_cleav_compl_1,three_p_non_cleav_1,three_p_non_cleav_compl_1
0,"[-2, 2, -2, 2, 1, -2, -2, -2, -2, 2, 1, 1, 1, -2]","[2, -2, 2, -2, -1, 2, 2, 0, 0, 0, 0, 0, -2, 2]","[2, 1, 1, -2, -2, 1, -2, 2, -2, 2, 1, -2, -2, -2]","[-2, -1, -2, 2, 2, -1, 2, -2, 2, -2, -1, 2, 2, 0]","[1, 2, 1, 2, -2, 2, 2, -1, -2, 2, -2, 2, -1, 2]","[-1, 0, -1, -2, 1, -2, -2, 1, 2, -2, 2, -2, 1,...","[2, -1, -2, 2, -2, 2, -1, 2, 2, -2, -1, -2, 2,...","[-2, 1, 2, -2, 2, -2, 1, -2, -2, 1, 1, 2, -2, 1]"
1,"[-2, 2, -2, 2, 1, -2, -2, -2, 2, 1, 2, 2, -2, -2]","[2, -2, 1, -2, -1, 2, 2, 0, 0, 0, 0, 0, 0, 0]","[2, 1, 1, -2, -2, 1, -2, 2, -2, 2, 1, -2, -2, -2]","[-2, -1, -1, 1, 2, -1, 2, -2, 1, -2, -1, 2, 2, 0]","[1, 2, 1, 2, -2, 2, 2, -1, -2, 1, -2, 2, -1, 2]","[0, 0, -1, -2, 2, -2, -2, 1, 2, -2, 2, -2, 1, -2]","[2, -1, -2, 1, -2, 2, -1, 2, 1, -1, -1, -2, -1...","[-2, 1, 2, -2, 2, -2, 1, -2, -2, 1, 1, 2, 0, 1]"
2,"[-2, 2, -2, 2, 1, -2, -2, -2, 1, 1, 1, 1, -1, -2]","[2, -2, 2, -2, -1, 2, 2, 1, -2, -1, -1, -1, 1, 0]","[2, 1, 1, -2, -2, 1, -2, 2, -2, 2, 1, -2, -2, -2]","[-2, -1, -2, 2, 2, -1, 2, -2, 2, -2, -1, 2, 2, 1]","[1, 1, 1, 2, -2, 2, 2, -1, -2, 2, -2, 2, -1, 2]","[0, 0, 0, 0, 0, -2, -2, 1, 2, -2, 2, -2, 1, -2]","[2, -1, -2, 2, -2, 2, -1, 2, 2, -2, -1, -2, 2,...","[-2, 1, 2, -2, 2, -2, 1, -2, -2, 1, 1, 2, -2, 1]"
3,"[-2, 1, -2, 1, 1, -2, -2, -2, -1, 2, 1, 1, 1, -1]","[2, -2, 2, -2, -1, 2, 2, 1, 1, 0, -1, -1, -1, 1]","[2, 1, 1, -2, -2, 1, -2, 1, -2, 1, 1, -2, -2, -2]","[-2, -1, -1, 2, 2, -1, 2, -2, 2, -2, -1, 2, 2, 1]","[2, 2, 1, 2, -2, 2, 2, -1, -2, 2, -2, 2, -1, 2]","[-2, 0, 0, 0, 0, 0, -2, 1, 1, -2, 1, -2, 1, -2]","[2, -1, -2, 2, -2, 2, -1, 2, 2, -1, -1, -2, 2,...","[-2, 1, 1, -2, 1, -2, 1, -2, -2, 1, 1, 2, -2, 1]"
4,"[-2, 2, -2, 1, 1, -2, -2, -2, 2, 1, 2, 1, -2, -2]","[2, -2, 1, -2, -1, 2, 2, 0, 0, -2, -2, 0, 2, 0]","[2, 1, 1, -2, -2, 1, -2, 2, -2, 1, 1, -2, -2, -2]","[-2, -1, -1, 2, 2, -1, 2, -2, 1, -2, -1, 2, 2, 0]","[1, 2, 1, -2, -2, 2, 2, -1, -2, 1, -2, 2, -1, 2]","[0, -2, 0, 2, 1, -2, -2, 1, 1, -2, 2, -2, 1, -2]","[2, -1, -2, 1, -2, 2, -1, 2, 2, -1, -1, -2, -2...","[-2, 1, 1, -2, 2, -2, 1, -2, -2, 1, 1, 2, 0, 1]"

In [161]:
df.iloc[0].size, df.shape[0], len(df), df.iloc[0].iloc[0]

(8, 827, 827, [-2, 2, -2, 2, 1, -2, -2, -2, -2, 2, 1, 1, 1, -2])

In [162]:
for i in range(len(df)):
    # t: temp
    # https://stackoverflow.com/questions/19482970/get-a-list-from-pandas-dataframe-column-headers
    t1 = pd.DataFrame(df.iloc[i].iloc[0], columns=[df.columns.values[0]]) # five_p_cleav_1
    t2 = pd.DataFrame(df.iloc[i].iloc[1], columns=[df.columns.values[1]]) # five_p_cleav_compl_1
    t3 = pd.DataFrame(df.iloc[i].iloc[2], columns=[df.columns.values[2]]) # five_p_non_cleav_1
    t4 = pd.DataFrame(df.iloc[i].iloc[3], columns=[df.columns.values[3]]) # five_p_non_cleav_compl_1
    t5 = pd.DataFrame(df.iloc[i].iloc[4], columns=[df.columns.values[4]]) # three_p_cleav_1
    t6 = pd.DataFrame(df.iloc[i].iloc[5], columns=[df.columns.values[5]]) # three_p_cleav_compl_1
    t7 = pd.DataFrame(df.iloc[i].iloc[6], columns=[df.columns.values[6]]) # three_p_non_cleav_1
    t8 = pd.DataFrame(df.iloc[i].iloc[7], columns=[df.columns.values[7]]) # three_p_non_cleav_compl_1
    # 【pandas数据合并一】：pd.concat()用法
    # https://blog.csdn.net/xue_11/article/details/118424380
    t = pd.concat([t1,t2,t3,t4,t5,t6,t7,t8], axis=1)
    # https://stackoverflow.com/questions/25457920/convert-row-names-into-a-column-in-pandas
    t.index.name = 'time points'
    t.reset_index(inplace=True)
    # https://stackoverflow.com/questions/29517072/add-column-to-dataframe-with-constant-value
    t.insert(0, 'instances', i)
    if i == 0:
        t_all = t
    else:
        t_all = pd.concat([t_all, t], axis=0)

In [163]:
t_all = t_all.set_index(["instances", "time points"])

In [164]:
t_all

                       five_p_cleav_1  five_p_cleav_compl_1  \
instances time points
0         0                        -2                     2
          1                         2                    -2
          2                        -2                     2
          3                         2                    -2
          4                         1                    -1
...                               ...                   ...
826       9                         2                     0
          10                       -1                     0
          11                       -2                     0
          12                        1                    -1
          13                       -2                     1

                       five_p_non_cleav_1  five_p_non_cleav_compl_1  \
instances time points
0         0                             2                        -2
          1                             1                        -1
          2                             1                        -2
          3                            -2                         2
          4                            -2                         2
...                                   ...                       ...
826       9                            -1                         1
          10                           -1                         0
          11                            1                         0
          12                           -1                         1
          13                            2                        -2

                       three_p_cleav_1  three_p_cleav_compl_1  \
instances time points
0         0                          1                     -1
          1                          2                      0
          2                          1                     -1
          3                          2                     -2
          4                         -2                      1
...                                ...                    ...
826       9                          1                     -1
          10                         2                     -2
          11                         1                     -1
          12                         1                     -1
          13                         2                     -2

                       three_p_non_cleav_1  three_p_non_cleav_compl_1
instances time points
0         0                              2                         -2
          1                             -1                          1
          2                             -2                          2
          3                              2                         -2
          4                             -2                          2
...                                    ...                        ...
826       9                              1                         -1
          10                             2                          0
          11                             1                         -1
          12                             1                         -1
          13                            -2                          2

[11578 rows x 8 columns]

In [165]:
from sktime.datatypes import check_raise
check_raise(t_all, mtype="pd-multiindex")

True

In [166]:
t_all.loc[0, "five_p_cleav_1"]

time points
0    -2
1     2
2    -2
3     2
4     1
5    -2
6    -2
7    -2
8    -2
9     2
10    1
11    1
12    1
13   -2
Name: five_p_cleav_1, dtype: int64

# Prepare binary classification data (3p, 5p)

In [ ]:
# t1 = pd.DataFrame(df.iloc[i].iloc[0], columns=[df.columns.values[0]]) # five_p_cleav_1

In [167]:
# https://stackoverflow.com/questions/57417520/selecting-and-renaming-columns-at-the-same-time
# https://www.geeksforgeeks.org/how-to-rename-columns-in-pandas-dataframe/
# https://stackoverflow.com/questions/45590866/python-pandas-concat-dataframes-with-different-columns-ignoring-column-names
X = t_all[["five_p_cleav_1", "five_p_cleav_compl_1"]]
X= X.rename(columns={'five_p_cleav_1': 'strand', 'five_p_cleav_compl_1': 'strand_compl'})
X

                       strand  strand_compl
instances time points
0         0                -2             2
          1                 2            -2
          2                -2             2
          3                 2            -2
          4                 1            -1
...                       ...           ...
826       9                 2             0
          10               -1             0
          11               -2             0
          12                1            -1
          13               -2             1

[11578 rows x 2 columns]

In [168]:
temp = t_all[["five_p_non_cleav_1", "five_p_non_cleav_compl_1"]]
temp = temp.rename(columns={'five_p_non_cleav_1': 'strand', 'five_p_non_cleav_compl_1': 'strand_compl'})
# https://stackoverflow.com/questions/79445936/shift-change-the-index-of-a-dataframe
temp.index = temp.index.map(lambda idx: (idx[0] + 827, idx[1]))
temp

                       strand  strand_compl
instances time points
827       0                 2            -2
          1                 1            -1
          2                 1            -2
          3                -2             2
          4                -2             2
...                       ...           ...
1653      9                -1             1
          10               -1             0
          11                1             0
          12               -1             1
          13                2            -2

[11578 rows x 2 columns]

In [169]:
X = pd.concat([X, temp], axis=0)
X

                       strand  strand_compl
instances time points
0         0                -2             2
          1                 2            -2
          2                -2             2
          3                 2            -2
          4                 1            -1
...                       ...           ...
1653      9                -1             1
          10               -1             0
          11                1             0
          12               -1             1
          13                2            -2

[23156 rows x 2 columns]

In [170]:
# https://stackoverflow.com/questions/31270971/how-to-create-a-numpy-array-of-n-numbers-of-the-same-value
y = np.concatenate((np.full((1, 827), 'five_p_cleav'), np.full((1, 827), 'five_p_cleav_compl')), axis=None)
y

array(['five_p_cleav', 'five_p_cleav', 'five_p_cleav', ...,
       'five_p_cleav_compl', 'five_p_cleav_compl', 'five_p_cleav_compl'],
      dtype='<U18')

In [233]:
from sklearn.model_selection import train_test_split, cross_val_score

# Split data into train and test sets
np.random.seed(18)

# Split into train & test set
# https://gist.github.com/shaypal5/3e34e85bd89d65d4ac118daa9a42b174
X_train_ix, X_test_ix, y_train, y_test = train_test_split(X.index.get_level_values(0).unique(), y, test_size=0.2)

In [235]:
X_train = X.loc[X_train_ix]
X_test = X.loc[X_test_ix]

In [245]:
X_train.index.get_level_values(0).unique()

Index([ 427,  501, 1541, 1070, 1561, 1576,  308, 1611,  986,   25,
       ...
        913,  738,  264,  578,  242, 1198,  837, 1144,  275, 1322],
      dtype='int64', name='instances', length=1323)

In [246]:
X_train_ix[:10]

Index([427, 501, 1541, 1070, 1561, 1576, 308, 1611, 986, 25], dtype='int64', name='instances')

In [247]:
y_train[:10]

array(['five_p_cleav', 'five_p_cleav', 'five_p_cleav_compl',
       'five_p_cleav_compl', 'five_p_cleav_compl', 'five_p_cleav_compl',
       'five_p_cleav', 'five_p_cleav_compl', 'five_p_cleav_compl',
       'five_p_cleav'], dtype='<U18')

In [248]:
len(y_train), len(y_test)

(1323, 331)

# Prepare multiclass classification data

# Rocket

## Multivariate Time Series

In [259]:
X_train

                       strand  strand_compl
instances time points
427       0                -2             2
          1                -2             1
          2                 1            -2
          3                -2             2
          4                 1            -1
...                       ...           ...
1322      9                 1            -1
          10                2            -2
          11               -2             2
          12               -2             2
          13                1            -1

[18522 rows x 2 columns]

In [260]:
num_instances = X_train.index.get_level_values('instances').nunique()
print(num_instances)

1323

In [261]:
from sktime.transformations.panel.rocket import Rocket
rocket = Rocket()
rocket.fit(X_train)
X_train_transform = rocket.transform(X_train)

In [262]:
import numpy as np
from sklearn.linear_model import RidgeClassifierCV
classifier = RidgeClassifierCV(alphas=np.logspace(-3, 3, 10))
classifier.fit(X_train_transform, y_train)

RidgeClassifierCV(alphas=array([1.00000000e-03, 4.64158883e-03, 2.15443469e-02, 1.00000000e-01,
       4.64158883e-01, 2.15443469e+00, 1.00000000e+01, 4.64158883e+01,
       2.15443469e+02, 1.00000000e+03]))

In [263]:
type(y_train)

numpy.ndarray

In [2]:
# X_test, y_test = load_basic_motions(split="test", return_type="pd-multiindex", return_X_y=True)
X_test_transform = rocket.transform(X_test)

NameError: name 'rocket' is not defined

In [1]:
classifier.score(X_test_transform, y_test)

NameError: name 'classifier' is not defined