# 9 Archive
It archives some useful code segments I have used in doing this project.

## Test the indexing of array in Python

In [1]:
test = [1,2,3,4]

In [ ]:
test, len(test)

In [ ]:
test[0:4]

In [ ]:
test[3] # test[3] is the last entry of test rather than test[4].

## Save and read from CSV

In [ ]:
import pandas as pd
df = pd.read_csv("../data/temp.csv",
                     low_memory=False)
df.to_csv("../data/temp.csv",
              index=False)
df

## Cast String to Float

In [ ]:
# https://stackoverflow.com/questions/64584736/typecast-a-column-in-pandas-dataframe
# https://stackoverflow.com/questions/8420143/valueerror-could-not-convert-string-to-float-id
# https://stackoverflow.com/questions/1614236/how-do-i-convert-all-of-the-items-in-a-list-to-floats
# https://stackoverflow.com/questions/52112553/convert-a-list-of-floats-to-multiple-columns-of-floats-in-pandas/52113073
# https://stackoverflow.com/questions/3877209/how-to-convert-an-array-of-strings-to-an-array-of-floats-in-numpy

In [11]:
# https://www.digitalocean.com/community/tutorials/python-convert-string-to-float
input_1 = '10.5674'
print(len(input_1))

input_1 = float(input_1)

print(type(input_1))
print('Float Value =', input_1)

7
<class 'float'>
Float Value = 10.5674

## Save string in csv

In [ ]:
# https://stackoverflow.com/questions/12877189/float64-with-pandas-to-csv
# https://stackoverflow.com/questions/12877189/float64-with-pandas-to-csv
# https://stackoverflow.com/questions/21433484/write-float-list-to-csv-file
# https://stackoverflow.com/questions/50817163/pd-to-csv-set-float-format-with-list

In [5]:
# https://stackoverflow.com/questions/51476690/how-to-use-pandas-to-csv-float-format
from io import StringIO
import pandas as pd

mystr = StringIO("""0.02506602 0.05754493 0.36854688
0.02461631 0.0599653 0.43078098
0.02502534 0.06209149 0.44955311
0.4267356675182389 0.1718682822340447 0.5391386354945895
0.426701667727433 0.17191008887193007 0.5391897818631616
0.4266676661681287 0.17195189807522643 0.5392409104354972""")

df = pd.read_csv(mystr, delim_whitespace=True, header=None)

print(df.dtypes)

# 0    float64
# 1    float64
# 2    float64
# dtype: object

file_loc = r'test.dat'
# sep=‘\s+‘什么意思？这是代表什么分隔符号？
# https://blog.csdn.net/weixin_37706204/article/details/120827447
df.to_csv(file_loc, sep=' ', index=False, header=False, float_format="%.8f")

df = pd.read_csv(file_loc, delim_whitespace=True, header=None)

print(df[0].iloc[-1])

# 0.42666767

0    float64
1    float64
2    float64
dtype: object
0.42666767

/var/folders/2w/d1h5t_nn2slf5r75qqdvlt0m0000gn/T/ipykernel_18332/2427653110.py:11: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv(mystr, delim_whitespace=True, header=None)
/var/folders/2w/d1h5t_nn2slf5r75qqdvlt0m0000gn/T/ipykernel_18332/2427653110.py:23: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv(file_loc, delim_whitespace=True, header=None)

In [13]:
df

          0         1         2
0  0.025066  0.057545  0.368547
1  0.024616  0.059965  0.430781
2  0.025025  0.062091  0.449553
3  0.426736  0.171868  0.539139
4  0.426702  0.171910  0.539190
5  0.426668  0.171952  0.539241

## Save variables

In [6]:
# https://stackoverflow.com/questions/34342155/how-to-pickle-or-store-jupyter-ipython-notebook-session-for-later
import dill
dill.dump_session('notebook_env.db')

In [1]:
import dill
dill.load_session('notebook_env.db')

In [ ]:
# https://stackoverflow.com/questions/59463737/panda-dataframe-persisting-a-list-of-numbers-and-then-reading-it

In [3]:
df3 = pd.DataFrame({'tom': [10,-5,3], 'dave': [15,-1,4], 'al': [14,-1,-1]})
df3


df3.to_csv('my.csv', index=False)

In [6]:
df3

   tom  dave  al
0   10    15  14
1   -5    -1  -1
2    3     4  -1

In [7]:
len(df3.loc[0])

3

In [8]:
df3in = pd.read_csv('my.csv')

In [9]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tom     3 non-null      int64
 1   dave    3 non-null      int64
 2   al      3 non-null      int64
dtypes: int64(3)
memory usage: 204.0 bytes