In [2]:
import pandas as pd

In [14]:
df_train = pd.read_csv('./training_5p.csv')
df_train.head()

,Unnamed: 0,name,sequence,dot_bracket,cleavage_window,window_dot_bracket,cleavage_window_comp,label
0,0,hsa-mir-7843,GUAGACAGGAUGAGGGCAGAGCCAGCUUCCUGAUCUGAUGGAAGUC...,(((((((((...(((((((((...(((((.(((.((......))))...,UUCCUGAUCUGAUG,(((.(((.((....,AAGOACUOGAOOOO,1
1,1,hsa-mir-4694,CAAAUACAUAGGUGUUAUCCUAUCCAUUUGCCUCUCUCAGAAAAUA...,(((((((((((((((((((((.((((((((.((((..........)...,CAUUUGCCUCUCUC,((((((.((((...,GUAAACOGAGAOOO,1
2,2,hsa-mir-548ar,AAAAGUAAUUGCAGUUUUUGCUGUUGAACGUAGUGGUAAAACUGCA...,((((((((((((((((((.(((((((....))))))))))))))))...,UUUUUGCUGUUGAA,((((.(((((((..,AAAAOUGGUGAUOO,1
3,3,hsa-mir-4697,GGGCCCAGAAGGGGGCGCAGUCACUGACGUGAAGGGACCACAUCCC...,(((((....((((((((.((((((((((((((((((........))...,UGACGUGAAGGGAC,((((((((((((..,ACUGUACUUCCCOO,1
4,4,hsa-mir-133a-2,GGGAGCCAAAUGCUUUGCUAGAGCUGGUAAAAUGGAACCAAAUCGA...,.((.(((((((((...((((.(((((((..((.((.((((((((.(...,ACCAAAUCGACUGU,((((((((.(....,UGGUUUAGOUOOOO,1

In [15]:
df_test = pd.read_csv('./test_5p.csv')
y_true = df_test[['label']].copy()
y_true.head()

   label
0      1
1      1
2      1
3      1
4      1

In [16]:
y_pred = pd.read_csv('./5p_model_1_result.txt', skiprows=2, header=None)
y_pred.columns = ['label']
y_pred.head()

   label
0      1
1      1
2      0
3      1
4      1

In [19]:
from sklearn.metrics import confusion_matrix
tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
accuracy = (tp + tn) / (tp + tn + fp + fn)
specificity = tn / (tn+fp)
sensitivity = tp / (tp+fn)
f1_score = 2 * tp / (2 * tp + fp + fn)
accuracy, specificity, sensitivity, f1_score

(0.8878205128205128,
 0.9423076923076923,
 0.8333333333333334,
 0.8813559322033898)